{{^if @member.paid}}
<div id="ad" style="border: 5px solid #F5F5F5; width: auto; min-height: 250px; text-align: center; margin: var(--gap) auto var(--gap) auto;">
<p style="font-size: 1.4rem; color: var(--color-secondary-text);">ADVERTISEMENT</p>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6412983364226137"
     crossorigin="anonymous"></script>
<!-- Furrimals - display ad responsive -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-6412983364226137"
     data-ad-slot="7458488890"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
{{/if}}