{{^if @member.paid}}
<div id="ad" style="display: flex; flex-direction: column; justify-content: space-between; width: calc(100% -20px); min-height: 250px; text-align: center; padding: 10px; margin: var(--gap) auto var(--gap) auto;">
<p style="font-size: 1.4rem; color: var(--color-secondary-text);">ADVERTISEMENT</p>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6412983364226137"
     crossorigin="anonymous"></script>
<!-- Furrimals - display ad -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-6412983364226137"
     data-ad-slot="8994598705"
     data-ad-format="auto"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
{{/if}}